@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body
{
    font-family: 'Lato', sans-serif;
    line-height: 1.6em;

    color: #333;
    background-color: #f9f9f9;
}


.navbar-custom
{
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 0 5px #252525;
    color: #333;
    background-color: #f9f9f9;
}

.navbar-custom a
{
    color: #333;
}

.navbar-custom li > a:hover
{
    color: #f9f9f9;
    border-radius: 5px;
    background-color: #f60;
}


p
{
    font-size: 1.2em;
}

/* jumbotron */

.jumbotron
{
    background-color: #f9f9f9;
    background-image: none;
    margin-bottom: 0;
}


.icon-bar
{
    background-color: #f60;
}


.avatar-img
{
    display: block;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.btn-slack
{
    font-size: 16px;
    font-weight: bold;

    display: inline-block;

    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 48px;

    cursor: pointer;

    color: #fff;
    border: 1px solid #f60;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    background-color: #f60;
    text-shadow: 0 1px 0 #f60;
}

.welcome-heading
{
    font-size: 38px;
    font-weight: bold;

    color: #f60;
}

.welcome-msg
{
    font-size: 1.4em;
    line-height: 1.4em;
}

/* features */

.features
{
    font-size: 1.1em;

    padding: 10px;
    background-color: #f2f2f2;
}

.features-heading {
  color:  #f60;
}

.features .features-heading,
h3
{
    font-weight: bold;
}

.feature-item
{
    margin: 40px 0;
}

.feature-item img
{
    width: 150px;
    margin: auto;
}


code
{
    color: #f9f9f9;
    background-color: #f60;
}

footer
{
    padding: 20px;

    color: #f9f9f9;
    background-color: #aa00d4;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: #f60;
    background-color: white; 
    padding: 5px;
    border-radius: 5px;
}

/* desktop and tablet support */

@media only screen and (min-width: 768px )
{

    .navbar-custom {
      padding: 12px 15px;
    }

    .aboutus {
        margin-right: 10px;
    }

    .jumbotron
    {
        background-color: #f9f9f9;
        background-image: url('http://i67.tinypic.com/2gt2r2p.png');
        background-repeat: no-repeat;
        background-size: 1400px 700px;
        margin-bottom: 0;
    }

    .avatar-img
    {
        margin-top: 100px;
    }
    .btn-slack
    {
        font-size: 18px;
        font-weight: bold;

        display: inline-block;

        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        padding: 8px 48px;

        cursor: pointer;

        color: #fff;
        border: 1px solid #f60;
        -webkit-border-radius: 60px;
                border-radius: 60px;
        background-color: #f60;
        text-shadow: 0 1px 0 #f60;
    }



    .feature-item img
    {
        width: 250px;
    }

    .feature-item-list
    {
        padding: 2% 20%;
    }
}
